.budgets-page {
  padding: 30px 30px 30px 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.search-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.search-container button {
  display: grid;
  gap: 10px;
  background: none;
  border: none;
  font-size: 10px;
  color: rgb(19, 1, 63);
  cursor: pointer;
}
.search-container button svg {
  font-size: 30px;
}
.search-input-container {
  width: 30%;
}
.search-input-container input {
  width: 100%;
  background-color: white;
  border: 2px solid rgb(19, 1, 63);
  height: 30px;
  border-radius: 30px;
  padding: 3px 0 0 8px;
  transition: 0.3s ease-in-out;
  margin-bottom: 30px;
}
.search-input-container input::placeholder {
  color: black;
}
.search-input-container input:focus {
  background: rgb(19, 1, 63);
  color: white;
  border: none;
}
.search-input-container input:focus::placeholder {
  color: transparent;
}
.search-container .buttons-container {
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
}
.search-container .buttons-container button {
  background: rgb(19, 1, 63);
  height: 30px;
  color: white;
  border: none;
  width: 100px;
  cursor: pointer;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  transition: 0.3s ease-out;
}
.search-container .buttons-container button:hover {
  background: white;
  color: rgb(19, 1, 63);
  border: 2px solid rgb(19, 1, 63);
}
.search-container .buttons-container button.active {
  background: white;
  color: rgb(19, 1, 63);
  border: 2px solid rgb(19, 1, 63);
}
.budget-cards-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}
.budget-card {
  display: flex;
  justify-content: space-between;
  width: 27%;
  background: rgb(19, 1, 63);
  color: white;
  height: 150px;
  border-radius: 15px;
  padding: 10px;
  font-size: 13px;
}
.inactive-card {
  background: gray;
}
.budget-card-header {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
.budget-card-header .budget-name p {
  display: grid;
  font-size: 13px;
}
.budget-card-header .budget-name p span {
  color: red;
  font-size: 10px;
}
.budget-card-header .budget-amount {
  display: block;
  column-gap: 3px;
}
.budget-card-header .budget-amount p {
  line-height: 0.5;
  font-size: 10px;
}
.budget-card-header .budget-amount span {
  color: red;
}
.switch {
  position: relative;
  right: 10px;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.checkbox-container p {
  color: red;
  margin: 4px;
  font-size: 10px;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4caf50;
}

input:checked + .slider:before {
  transform: translateX(26px);
}
.budget-card-header div button {
  border: none;
  background: none;
  cursor: pointer;
}
.budget-card-header svg {
  font-size: 30px;
  color: white;
}
.card-buttons-container button {
  cursor: pointer;
}
.card-buttons-container button svg {
  font-size: 15px;
}

@media (max-width: 768px) {
  .budgets-page {
    padding: 50px 30px 30px 50px;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    .search-input-container input {
      width: 80%;
    }
  }
  @media (max-width: 575.98px) {
    .search-container {
      flex-wrap: wrap;
      justify-content: flex-start;
      column-gap: 40px;
      row-gap: 20px;
    }
    .search-input-container {
      width: 50%;
    }
    .search-container .buttons-container button {
      width: 70px;
      border-radius: 20px;
      font-size: 13px;
    }
    .budget-cards-container {
      gap: 30px 50px;
    }
  }
  @media (max-width: 479.98px) {
    .budget-cards-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }
    .budget-card {
      width: 80%;
    }
  }
}
