.settings-section {
  padding: 30px 30px 30px 180px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
.settings-section h1 {
  text-align: center;
  color: rgb(19, 1, 63);
}
.settings-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 70%;
  box-shadow: 5px 5px 5px 2px rgb(231, 225, 225);
  padding: 20px;
}
.settings-div form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 60%;
}
.settings-div form .input-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.settings-div form .input-container label {
  font-size: 15px;
}
.settings-div form .input-container input {
  width: 70%;
  height: 30px;
  border: 2px solid rgb(19, 1, 63);
}
.settings-div form button {
  background: rgb(19, 1, 63);
  height: 30px;
  color: white;
  border: none;
  width: 20%;
  cursor: pointer;
  transition: 0.3s ease-in;
}
.settings-div form button:hover {
  background: white;
  color: rgb(19, 1, 63);
  border: 2px solid rgb(19, 1, 63);
}

@media (max-width: 992px) {
  .settings-div form button {
    width: 40%;
  }
  .settings-section {
    padding: 50px 30px 30px 50px;
  }
  .settings-div form {
    width: 80%;
  }
}
@media (max-width: 992px) {
  .settings-div {
    width: 80%;
  }
}
