.reminders-section {
  padding: 30px 30px 30px 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.reminders-section h1 {
  color: rgb(19, 1, 63);
}
.search-reminder {
  display: flex;
  gap: 10%;
  justify-content: space-between;
  width: 100%;
}
.search-reminder button {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: none;
  background: none;
  font-size: 10px;
  cursor: pointer;
}
.search-reminder button svg {
  font-size: 30px;
  color: rgb(19, 1, 63);
}
.search-reminder-input {
  width: 30%;
  gap: 20px;
}
.search-reminder-input input[type="text"] {
  width: 100%;
  background-color: white;
  border: 2px solid rgb(19, 1, 63);
  height: 30px;
  border-radius: 30px;
  padding: 3px 0 0 8px;
  transition: 0.3s ease-in-out;
  margin-bottom: 30px;
}
.search-reminder-input input[type="text"]::placeholder {
  color: black;
}
.search-reminder-input input[type="text"]:focus {
  background: rgb(19, 1, 63);
  color: white;
  border: none;
}
.search-reminder-input input[type="text"]:focus::placeholder {
  color: transparent;
}
.search-reminder-input input[type="date"] {
  height: 30px;
  border: 2px solid rgb(19, 1, 63);
}
.filter-buttons {
  display: flex;
  gap: 5px;
}
.filter-buttons button {
  background: rgb(19, 1, 63);
  height: 30px;
  color: white;
  border: none;
  width: 100px;
  cursor: pointer;
  border-radius: 20px;
  transition: 0.3s ease-in;
}
.filter-buttons button:hover {
  background: white;
  color: rgb(19, 1, 63);
  border: 2px solid rgb(19, 1, 63);
}
.filter-buttons button.active {
  background: white;
  color: rgb(19, 1, 63);
  border: 2px solid rgb(19, 1, 63);
}
.reminders-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  gap: 30px;
}
.reminders-container p.pinned {
  font-style: italic;
  align-self: flex-start;
  margin-bottom: 0;
}
.reminders-container .reminder-card {
  width: 90%;
  background: rgb(19, 1, 63);
  padding: 15px 10px;
  height: auto;
  color: white;
  overflow: hidden;
}
.reminder-card p {
  font-size: 12px;
}
.reminder-card .card-header {
  display: flex;
  justify-content: space-between;
}
.card-header .card-status {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.card-header .card-status p {
  font-style: italic;
  font-weight: 100;
  color: gray;
  font-size: smaller;
}
.reminder-card .card-footer {
  display: flex;
  justify-content: space-between;
  justify-content: baseline;
}
.reminder-card .card-footer h6 {
  color: red;
  font-size: 13px;
}
.reminder-card .card-footer h6 span {
  font-size: 10px;
}
.card-footer .footer-buttons {
  display: flex;
  justify-content: space-between;
  column-gap: 5px;
}
.card-footer .footer-buttons button {
  background: none;
  border: none;
  cursor: pointer;
}
.card-footer .footer-buttons button svg {
  color: red;
}
.spinner {
  margin-left: 0.5rem;
  animation: spin 1s linear infinite;
  font-size: 1rem;
  color: #555;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
